@use '../node_modules/aos/dist/aos.css';
@use './style-compat.scss';

/** Block editor canvas. */
.editor-styles-wrapper {

	/** Animate on Scroll element. */
	[data-aos] {
		pointer-events: auto;

		/** Hidden state before animation has begun. */
		&.aos-init:not(.aos-animate) {
			opacity: 0 !important;
			transition: none !important;
		}

		/** Default duration. */
		&:not([data-aos-duration]) {
			transition-duration: 0.4s;
		}

		/** Default easing. */
		&:not([data-aos-easing]) {
			transition-timing-function: ease;
		}
	}

	& > .is-root-container {

		/** Hide scrollbars since animation elements can go offscreen. */
		&:has(.wsd-anfb-is-animating) {
			overflow: hidden;
		}
	}
}

/** Block editor (non-iframe only). */
.edit-post-visual-editor {

	/** Animating block. */
	&:has(.wsd-anfb-is-animating) {

		/** Hide block toolbar during animation. */
		.block-editor-block-contextual-toolbar:not(.is-fixed) {
			display: none;
		}

		/** Hide block appenders during animation. */
		.block-list-appender {
			display: none;
		}
	}
}

/**
 * Animations for Blocks Inspector Controls panel.
 */
.wsd-anfb {

	&.components-panel {

		border-top: 1px solid rgb(221, 221, 221);

		&:only-child {
			border-bottom: 1px solid rgb(221, 221, 221);
		}

		&:not(:first-child) {
			margin-top: -1px;
		}

		&:last-child {
			margin-bottom: -1px;
		}

		& > .components-panel__header {
			border-bottom: 0;
		}

		& > .components-panel__body {
			border-top: 0;
			padding-top: 8px;

			& > .components-v-stack {

				& > .components-base-control {
					margin-bottom: 0;
				}
			}
		}
	}

	&__menu-group {

		.components-menu-item__button {

			&[disabled] {
				pointer-events: none;
			}
		}
	}

	/** Advanced settings button. */
	& &__button {

		&-active {
			background: #eee;
			box-shadow: inset 0 0 1px 1px var(--wp-admin-theme-color);

			&:hover {
				color: var(--wp-admin-theme-color-darker-10);
			}
		}
	}
}

/** Help modal. */
.wsd-anfb__help {
	max-width: 720px;

	/** Help text container. */
	& &__content {

		h4 {
			margin-bottom: 0;

			& + p {
				margin-top: 0;
			}
		}
	}
}

/** Settings modal. */
.wsd-anfb__settings {

	&__content {
		margin-top: 12px;

		& > :last-child {
			margin-bottom: 0;
		}
	}
}
